body {
    background-color: black;
    color: white;
}

.flexbox_container{
    display: flex;
}

#first_paragraph{
    flex: 2 2 0;
}

#second_paragraph{
    flex: 1 1 0;
}

#profile_pic_div{
    flex: 2 2 0;
    min-width: 0;
    min-height: 0;
}

#profile_pic{
    width: 100%;
    height: auto;
}
