body {
    background-color: black;
    color: white;
    margin-left: 20px;
    position: absolute;
}

button {
    position: absolute;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.Home_button{
    top: 0px;
    left: 40px;
}

.Projects_button{
    top: 0px;
    left: 200px;
}

.English_button{
    top:0px;
    right: 40px;
}

#Profile_pic{
    top: 100px;
    right: 100px;
    width: 150px;
}

.first_paragraph{
    text-align: left;
    word-wrap: break-word;
    width: 750px;
    top: 100px
}
