body {
    background-color: black;
    color: white;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    white-space:nowrap;
}



.flexbox_container{
    display: flex;
    justify-content: space-around;
}

#buttons_flexbox_container{
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 5px 0px;
}

#empty_button_div{
    margin: 0;
    filling: 0;
}

#profile_pic_flexbox_container{
    align-items: center; 
    margin: 20% 0px;
    flex-wrap: wrap;
}

#text_div{
    min-width: 0;
}

.Title{
    width: 100%;
    font-size: 64px;
    margin: 15px 0px 0px;
}

#title_outliner{
    border-top: 3px solid red;
    z-index: 5;
    width: 150px; height: 0px;
}

#profile_pic_div{
    min-width: 0;
    min-height: 0;
}

#profile_pic{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#about_nested_flexbox_container{
    flex-direction: column;
    align-content: center;
    max-width:50%;
}


#about_text{
    text-align: center;
    font-size: 25px;
}


#about_title{
    text-align: center;
    width:200px;
    font-size: 35px;
} 

