body {
    background-color: black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#buttons_container{
    display: flex;
    justify-content: flex-start;
}

.English_button{
    margin-left: auto;
}


#text_container{
    display: flex;
}


.first_paragraph{
    text-align: left;
    word-wrap: break-word;
    flex-grow: 2;
}

img#Profile_pic{
    width: 100px;
    height: auto;
    flex-grow: 1;
}
