.divider {
	/* minor cosmetics */
	display: table !important;
	height: 2px;
	text-align: center;
	width: 75%;
	margin: auto;
	--divider-color: white
}

.divider span {
	height: 100%;
	display: table-cell;
	position: relative;
}

.divider span:first-child,
.divider span:last-child {
	width: 50%;
	/* adjust vertical align */
	-moz-background-size: 100% 2px;
	/* line width */
	background-size: 100% 2px;
	/* line width */
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}

.divider span:first-child {
	/* color changes in here */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(var(--divider-color)));
	background-image: -webkit-linear-gradient(180deg, transparent, var(--divider-color));
	background-image: -moz-linear-gradient(180deg, transparent, var(--divider-color));
	background-image: -o-linear-gradient(180deg, transparent, var(--divider-color));
	background-image: linear-gradient(90deg, transparent, var(--divider-color));
}

.divider span:last-child {
	/* color changes in here */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--divider-color)), to(transparent));
	background-image: -webkit-linear-gradient(180deg, var(--divider-color), transparent);
	background-image: -moz-linear-gradient(180deg, var(--divider-color), transparent);
	background-image: -o-linear-gradient(180deg, var(--divider-color), transparent);
	background-image: linear-gradient(90deg, var(--divider-color), transparent);
}